<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UIHead")

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    @await Component.InvokeAsync("_UISubHeader");

    <!-- ***** Header Area Start ***** -->
    @await Component.InvokeAsync("_UIHeader")
    <!-- ***** Header Area End ***** -->
    @RenderBody()


   

    <footer>
        <div class="container">
            <div class="col-lg-8">
                <p>
                    Copyright © 2048 Villa Agency Co., Ltd. All rights reserved.

                    Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a> Distribution: <a href="https://themewagon.com">ThemeWagon</a>
                </p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/VillaAgency/vendor/jquery/jquery.min.js"></script>
    <script src="~/VillaAgency/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/VillaAgency/assets/js/isotope.min.js"></script>
    <script src="~/VillaAgency/assets/js/owl-carousel.js"></script>
    <script src="~/VillaAgency/assets/js/counter.js"></script>
    <script src="~/VillaAgency/assets/js/custom.js"></script>

</body>
</html>