<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu </li>
            <!-- <li><a href="index.html"><i class="fa fa-"></i><span class="nav-text">Dashboard</span></a>
            </li> -->
            <li>
                <a asp-controller="Banner" asp-action="Index" asp-area="Admin"   aria-expanded="false" >
                    <i class="fa fa-image"></i><span class="nav-text">Banner</span>
                </a>
                
            </li>
            <li>
                <a asp-controller="Contact" asp-action="Index" asp-area="Admin"  aria-expanded="false">
                    <i class="fa fa-envelope"></i><span class="nav-text">Contact</span>
                </a>

            </li>

            <li>
                <a asp-controller="Counter" asp-action="Index" asp-area="Admin"  aria-expanded="false">
                    <i class="fa fa-calculator"></i><span class="nav-text">Counter</span>
                </a>

            </li>
            <li>
                <a asp-controller="Deal" asp-action="Index" asp-area="Admin"  aria-expanded="false">
                    <i class="fa fa-tag"></i><span class="nav-text">Deal</span>
                </a>

            </li>
            <li>
                <a asp-controller="Feature" asp-action="Index" asp-area="Admin"  aria-expanded="false">
                    <i class="fa fa-list"></i><span class="nav-text">Feature</span>
                </a>

            </li>
            <li>
                <a asp-controller="Message" asp-action="Index" asp-area="Admin"  aria-expanded="false">
                    <i class="fa fa-comment"></i><span class="nav-text">Message</span>
                </a>

            </li>
            <li>
                <a asp-controller="Product" asp-action="Index" asp-area="Admin"  aria-expanded="false">
                    <i class="fa fa-building"></i><span class="nav-text">Product</span>
                </a>

            </li>
          
            <li>
                <a asp-controller="Question" asp-action="Index" asp-area="Admin"  aria-expanded="false">
                    <i class="fa fa-question"></i><span class="nav-text">Question</span>
                </a>

            </li>
            
            <li>
                <a asp-controller="Video" asp-action="Index" asp-area="Admin"  aria-expanded="false">
                    <i class="fa fa-laptop"></i><span class="nav-text">Video</span>
                </a>

            </li>
            <li>
                <a asp-controller="SocialMedia" asp-action="Index" asp-area="Admin" aria-expanded="false">
                    <i class="	fa fa-address-book-o"></i><span class="nav-text">Social Media</span>
                </a>

            </li>
        </ul>
    </div>
</div>