@model CreateCounterDto
@{
    ViewData["Title"] = "Yeni Counter Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="mt-3">


            <form method="post">
                <div asp-validation-summary="All" class="text-danger mb-2"></div>
                <label>Başlık</label>
                <input type="text" asp-for="Title" class="form-control" />
                <br />
                <label>Sayı</label>
                <input type="text" asp-for="Count" class="form-control" />
                <br />
              
                <button class="btn btn-outline-dark">Kaydet</button>
            </form>
        </div>
    </div>
</div>