@model CreateFeatureDto
@{
    ViewData["Title"] = "Yeni Feature Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="mt-3">


            <form method="post">
                <div asp-validation-summary="All" class="text-danger mb-2"></div>
                <label>Resim</label>
                <input type="text" asp-for="ImageUrl" class="form-control" />
                <br />
                <label>Başlık</label>
                <input type="text" asp-for="Title" class="form-control" />
                <br />
                <label>Alt Başlık</label>
                <input type="text" asp-for="SubTitle" class="form-control" />
                <br />
                <label>Kontrat</label>
                <input type="text" asp-for="Contract" class="form-control" />
                <br />
                <label>Ödeme</label>
                <input type="text" asp-for="Payment" class="form-control" />
                <br />
                <label>Alan</label>
                <input type="text" asp-for="Square" class="form-control" />
                <br />
                <label>Güvenlik</label>
                <input type="text" asp-for="Safety" class="form-control" />
                <br />
                
                <button class="btn btn-outline-dark">Kaydet</button>
            </form>
        </div>
    </div>
</div>