<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>F3 - Admin Portal </title>
    <!-- Favicon icon -->
    <link rel="icon" type="~/admin-focus/image/png" sizes="16x16" href="~/admin-focus/images/favicon.png">
    <link href="~/admin-focus/css/style.css" rel="stylesheet">

</head>