@model CreateSocialMediaDto
@{
    ViewData["Title"] = "Yeni SocialMedia Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="mt-3">


            <form method="post">
                <div asp-validation-summary="All" class="text-danger mb-2"></div>
                <label>Site Adı</label>
                <input type="text" asp-for="Name" class="form-control" />
                <br />
                <label>Site Link</label>
                <input type="text" asp-for="Url" class="form-control" />
                <br />
                <label>Icon Link</label>
                <input type="text" asp-for="IconLink" class="form-control" />
                <br />
                <button class="btn btn-outline-dark">Kaydet</button>
            </form>
        </div>
    </div>
</div>