@model CreateContactDto
@{
    ViewData["Title"] = "Yeni İletişim Modulu Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="mt-3">


            <form method="post">
                <div asp-validation-summary="All" class="text-danger mb-2"></div>
                <label>Map URL</label>
                <input type="text" asp-for="MapUrl" class="form-control" />
                <br />
                <label>Telefon</label>
                <input type="number" asp-for="Phone" class="form-control" />
                <br />
                <label>Adres</label>
                <input type="text" asp-for="Address" class="form-control" />
                <br />
                <label>E-Posta</label>
                <input type="text" asp-for="Email" class="form-control" />
                <br />
                <button class="btn btn-outline-dark">Kaydet</button>
            </form>
        </div>
    </div>
</div>